@font-face {
    font-family: FontDutti;
    font-style: normal;
    font-weight: normal;
    src: url("FontDutti.ttf") format("truetype");
}
@font-face {
    font-family: MassimoDutti;
    font-style: normal;
    font-weight: lighter;
    src: url("FontDutti_v3.woff") format("woff");
}

@font-face {
    font-family: MassimoDuttiBasisGrotesque;
    font-style: normal;
    font-weight: normal;
    src: url("BasisGrotesque-Regular-Pro.woff2") format("woff2");
}
@font-face {
    font-family: MassimoDuttiBasisGrotesque;
    font-style: normal;
    font-weight: lighter;
    src: url("BasisGrotesque-Medium-Pro.woff2") format("woff2");
}
@font-face {
    font-family: MassimoDuttiBasisGrotesque;
    font-style: normal;
    font-weight: bold;
    src: url("BasisGrotesque-Bold-Pro.woff2") format("woff2");
}