<mat-toolbar class="d-flex justify-content-between" *ngIf="currentUser">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
      </button>
    <span><img class="logo" width="160px" src="./assets/images/mslogo.svg" alt="Massimo Dutti logo"></span>
    <div>
        <span>Hola, {{currentUser.firstName}} {{currentUser.lastName}}</span>
        <button class="ml-3" mat-icon-button aria-label="loggout-button">
    <mat-icon (click)="logout()">power_settings_new</mat-icon>
  </button>
    </div>
</mat-toolbar>
<div class="RouterOutlet">
    <mat-sidenav-container class="custom-sidenav-container">
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <img class="logo pl-4 pr-4" width="160px" src="./assets/images/swlogo.png" alt="Massimo Dutti logo">
                <a mat-list-item [routerLink]="'/'" (click)="sidenav.toggle()"> Naves espaciales </a>
                <div mat-subheader>Administración</div>
                <a mat-list-item [routerLink]="'/users'" (click)="sidenav.toggle()"> Usuarios </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>