.mat-drawer-content {
    overflow-x: hidden;
}

.custom-sidenav-container {
    display: inherit;
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-transform: inherit;
    transform: inherit;
}
