<div class="row pt-3 pl-5">
    <h4>Usuarios</h4>
</div>

<div class="row pl-5 pr-5">
    <div class="col-sm-3 mb-4" *ngFor="let user of users$ | async">
        <mat-card class="card pb-3">
            <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
            <mat-card-subtitle> {{user.username}} </mat-card-subtitle>
            <button mat-flat-button color="accent" [hidden]="user.id === currentUser.id" color="primary" (click)="deleteUser(user.id)">Eliminar</button>
            <mat-icon class="mt-2 mb-1" [hidden]="user.id !== currentUser.id" color="accent">star_rate</mat-icon>
        </mat-card>
    </div>
</div>
