<div class="row pt-3 pl-5 pr-5 d-flex justify-content-between">
    <h5>Naves Espaciales</h5>
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [showFirstLastButtons]="true" [hidePageSize]="true" (page)="getPaginatorData($event)">
    </mat-paginator>
</div>
<div class="row pl-5 pr-5">
    <div class="col-sm-3 mb-4" *ngFor="let starShip of (starShips$ | async)">
        <app-starship-card class="pointer" [starShip]="starShip" (click)="detail(starShip)"></app-starship-card>
    </div>
</div>