/* You can add global styles to this file, and also import other style files */

app-root {
    height: 100%;
    // margin: 0;
}

html,
body {
    min-height: 100%;
    height: auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

.RouterOutlet {
    padding-top: 4rem;
}

* {
    box-sizing: border-box;
}

mat-toolbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 1000;
    margin: 0;
    border-bottom: 1px solid rgb(212, 212, 212);
    background: rgb(255, 255, 255) !important;
}

.card {
    border-radius: 0 !important;
    border: none !important;
    transition: none !important;
    box-shadow: none !important;
}

.pointer {
    cursor: pointer;
}

.mat-drawer-container {
    background-color: transparent;
}
